In [1]:
import pandas as pd
import mysql.connector
import os

In [9]:
path = './文件集/補校區文件/'
dirList = os.listdir(path)
dfSchool = pd.read_excel("./文件集/學校統整v4.xlsx")

## Version1

In [2]:
dfSchool = pd.read_excel("./文件集/學校統整V3.xlsx")
dfSchool = dfSchool.astype('str')

### 建學校database資料

In [53]:
data = []
for schoolID in dfSchool['學校ID'].unique():
    mask = dfSchool['學校ID'] == schoolID
    data.append(tuple(dfSchool[mask].iloc[0][['學校ID', '校名','網址']]))

In [73]:
db = mysql.connector.connect(user='developer1', password='password', host='localhost', database='四技二專')
cursor = db.cursor()
sql = 'insert into 學校 values(%s, %s, %s)'
cursor.executemany(sql, data)
db.commit()
cursor.close()
db.close()

### 建分校database資料

In [3]:
def checkValid(campusInfo):
    if(len(campusInfo) == 1):
        if(campusInfo[0][0] == "0" and campusInfo[0][1] != "0"):
            return True
        else:
            return False
    else:
        for i in range(len(campusInfo)):
            if(campusInfo[i][0] == "0" or campusInfo[i][1] == '0'):
                return False
        return True
    
def findAlias(string):
    alias = ''
    for char in string:
        if(char == "台"):
            alias += '臺'
        elif(char == '臺'):
            alias += '台'
        else:
            alias += char
    return alias

In [4]:
dicCampusInSch = {}
for schoolID in dfSchool['學校ID'].unique():
    dicCampusInSch[schoolID] = []
    mask = dfSchool['學校ID'] == schoolID
    dfTemp = dfSchool[mask]
    for campus in dfTemp['校區'].unique():
        maskCampus = dfTemp['校區'] == campus
        seriInfo = dfTemp[maskCampus].iloc[0]
        dicCampusInSch[schoolID].append([campus, seriInfo['地址'], seriInfo['縣市'], seriInfo['行政區']])
dicCampusInSch

{'101': [['0', '106台北市大安區基隆路四段43號', '臺北市', '大安區']],
 '102': [['0', '64002雲林縣斗六市大學路三段123號', '雲林縣', '斗六市']],
 '103': [['0', '912屏東縣內埔鄉學府路1號', '屏東縣', '內埔鄉']],
 '104': [['0', '10608台北市大安區忠孝東路三段1號', '臺北市', '大安區']],
 '105': [['0', '0', '高雄市', '三民區'], ['建工校區', '0', '高雄市', '三民區']],
 '107': [['0', '632雲林縣虎尾鎮文化路64號', '雲林縣', '虎尾鎮']],
 '109': [['0', '880澎湖縣馬公市六合路300號', '澎湖縣', '馬公市']],
 '110': [['0', '411030台中市太平區中山路二段57號', '臺中市', '太平區']],
 '111': [['0', '0', '臺北市', '北投區']],
 '112': [['0', '812高雄市小港區松和路1號', '高雄市', '小港區']],
 '113': [['0', '404台中市北區三民路三段129號', '臺中市', '北區']],
 '114': [['桃園校區', '324桃園市平鎮區福龍路一段100號', '臺北市', '中正區'],
  ['臺北校區', '100台北市中正區濟南路一段321號', '臺北市', '中正區']],
 '201': [['0', '413台中市霧峰區吉峰東路168號', '臺中市', '霧峰區']],
 '202': [['0', '71005台南市永康區南台街1號', '臺南市', '永康區']],
 '203': [['0', '710台南市永康區崑大路195號', '臺南市', '永康區']],
 '204': [['0', '71710 臺南市仁德區二仁路一段60號', '臺南市', '仁德區']],
 '205': [['0', '824高雄市燕巢區橫山路59號', '高雄市', '燕巢區']],
 '206': [['0', '333桃園市龜山區萬壽路一段300號', '桃園市', '龜山區']],
 '207': [['0', '831高雄市大寮區進學路151號', '高雄市', '大寮區']],
 '208': [['0', '304新竹縣新豐鄉新興路1號', '新竹縣', '新豐鄉']],
 '209': [['0', '433台中市沙鹿區台灣大道六段1018號', '臺中市', '沙鹿區']],
 '210': [['0', '320桃園市中壢區健行路229號', '桃園市', '中壢區']],
 '211': [['0', '833高雄市鳥松區澄清路840號', '高雄市', '鳥松區']],
 '212': [['0', '320676 桃園市中壢區萬能路1號', '桃園市', '中壢區']],
 '213': [['0', '500020彰化縣彰化市介壽北路1號', '彰化縣', '彰化市']],
 '214': [['0', '243新北市泰山區工專路84號', '新北市', '泰山區']],
 '216': [['0', '907屏東縣鹽埔鄉維新路20號', '屏東縣', '鹽埔鄉']],
 '217': [['0', '251309 新北市淡水區淡金路四段499號', '新北市', '淡水區']],
 '218': [['0', '408213台中市南屯區嶺東路1號', '臺中市', '南屯區']],
 '219': [['新竹校區', '303新竹縣湖口鄉中山路三段530號', '新竹縣', '湖口鄉'],
  ['臺北校區', '116台北市文山區興隆路三段56號', '臺北市', '文山區']],
 '220': [['0', '40601台中市北屯區廍子路666號', '臺中市', '北屯區']],
 '221': [['0', '710台南市永康區中正路529號', '臺南市', '永康區']],
 '222': [['0', '744台南市新市區中華路49號', '臺南市', '新市區']],
 '223': [['0', '300新竹市香山區元培街306號', '新竹市', '香山區']],
 '224': [['0', '231新北市新店區安忠路99號', '新北市', '新店區']],
 '225': [['0', '717台南市仁德區文華一街89號', '臺南市', '仁德區']],
 '226': [['0', '222新北市深坑區北深路三段152號', '新北市', '深坑區']],
 '227': [['0', '114台北市內湖區環山路一段56號', '臺北市', '內湖區']],
 '228': [['0', '542南投縣草屯鎮中正路568號', '南投縣', '草屯鎮']],
 '229': [['台北校區', '115台北市南港區研究院路三段245號', '臺北市', '南港區'],
  ['新竹校區', '312新竹縣橫山鄉中華街200號', '新竹縣', '橫山鄉']],
 '230': [['0', '407台中市西屯區僑光路100號', '臺中市', '西屯區']],
 '231': [['0', '361苗栗縣造橋鄉學府路168號', '苗栗縣', '造橋鄉']],
 '232': [['0', '912屏東縣內埔鄉屏光路23號', '屏東縣', '內埔鄉']],
 '233': [['0', '621嘉義縣民雄鄉建國路二段117號', '嘉義縣', '民雄鄉']],
 '236': [['0', '412台中市大里區工業路11號', '臺中市', '大里區']],
 '237': [['嘉義校區', '613016 嘉義縣朴子市嘉朴路西段2號', '嘉義縣', '朴子市'],
  ['林口校區', '333桃園市龜山區文化一路261號', '桃園市', '龜山區']],
 '238': [['0', '307新竹縣芎林鄉大華路1號', '新竹縣', '芎林鄉']],
 '239': [['0', '112台北市北投區學園路2號', '臺北市', '北投區']],
 '240': [['0', '244新北市林口區粉寮路一段101號', '新北市', '林口區']],
 '241': [['0', '80793高雄市三民區民族一路900號', '高雄市', '三民區']],
 '244': [['0', '970花蓮縣花蓮市建國路二段880號', '花蓮縣', '花蓮市']],
 '245': [['0', '220新北市板橋區文化路一段313號', '新北市', '板橋區']],
 '246': [['0', '236新北市土城區青雲路380巷1號', '新北市', '土城區']],
 '248': [['0', '0', '基隆市', '信義區']],
 '249': [['士林校區', '11174台北市士林區延平北路九段212號', '台北市', '士林區'],
  ['淡水校區', '251新北市淡水區濱海路三段150號', '新北市', '淡水區']],
 '250': [['0', '220新北市板橋區四川路二段58號', '新北市', '板橋區']],
 '403': [['0', '971花蓮縣新城鄉樹人街1號', '花蓮縣', '新城鄉']],
 '411': [['0', '320桃園市中壢區中山東路三段414號', '桃園市', '中壢區']],
 '415': [['0', '243新北市泰山區泰林路三段22號', '新北市', '泰山區']],
 '417': [['0', '203基隆市中山區復興路336號', '基隆市', '中山區']],
 '502': [['0', '700台南市中西區民族路二段78號', '臺南市', '中西區']],
 '503': [['0', '0', '臺東縣', '臺東市']],
 '701': [['0', '116台北市文山區指南路二段64號', '臺北市', '文山區']],
 '702': [['0', '300新竹市東區光復路二段101號', '新竹市', '東區']],
 '703': [['0', '10617台北市大安區羅斯福路四段1號', '臺北市', '大安區']],
 '704': [['0', '106台北市大安區和平東路一段162號', '臺北市', '大安區']],
 '705': [['0', '701台南市東區大學路1號', '臺南市', '東區']],
 '706': [['0', '402台中市南區興大路145號', '臺中市', '南區']],
 '707': [['0', '0', '新竹市', '新竹市']],
 '708': [['0', '320桃園市中壢區中大路300號', '桃園市', '中壢區']],
 '709': [['0', '804高雄市鼓山區蓮海路70號', '高雄市', '鼓山區']],
 '710': [['0', '202基隆市中正區北寧路2號', '基隆市', '中正區']],
 '711': [['0', '62102嘉義縣民雄鄉大學路一段168號', '嘉義縣', '民雄鄉']],
 '712': [['0', '0', '高雄市', '苓雅區']],
 '713': [['0', '0', '彰化縣', '彰化市']],
 '715': [['0', '237新北市三峽區大學路151號', '新北市', '三峽區']],
 '716': [['0', '600嘉義市東區學府路300號', '嘉義市', '東區']],
 '717': [['0', '811高雄市楠梓區高雄大學路700號', '高雄市', '楠梓區']],
 '718': [['0', '974花蓮縣壽豐鄉大學路二段1號', '花蓮縣', '壽豐鄉']],
 '719': [['0', '545301南投縣埔里鎮大學路1號', '南投縣', '埔里鎮']],
 '720': [['0', '112台北市北投區學園路1號', '臺北市', '北投區']],
 '721': [['0', '220新北市板橋區大觀路一段59號', '新北市', '板橋區']],
 '722': [['0', '950309 臺東市大學路二段369號', '臺東縣', '臺東市']],
 '723': [['0', '260宜蘭縣宜蘭市神農路一段1號', '宜蘭縣', '宜蘭市']],
 '724': [['0', '36003苗栗縣苗栗市聯大1號', '苗栗縣', '苗栗市']],
 '725': [['0', '72045台南市官田區大崎66號', '臺南市', '官田區']],
 '726': [['0', '70005台南市中西區樹林街二段33號', '臺南市', '中西區']],
 '727': [['0', '10671台北市大安區和平東路二段134號', '臺北市', '大安區']],
 '729': [['0', '0', '臺中市', '西區']],
 '731': [['0', '333桃園市龜山區文化一路250號', '桃園市', '龜山區']],
 '732': [['0', '892金門縣金寧鄉大學路1號綜合大樓', '金門縣', '金寧鄉']],
 '733': [['0', '404台中市北區雙十路一段16號', '臺中市', '北區']],
 '734': [['0', '100台北市中正區愛國西路1號', '臺北市', '中正區']],
 '738': [['0', '0', '屏東縣', '屏東市']],
 '801': [['0', '407224台中市西屯區台灣大道四段1727號', '臺中市', '西屯區']],
 '802': [['0', '242新北市新莊區中正路510號', '新北市', '新莊區']],
 '803': [['0', '111台北市士林區臨溪路70號', '臺北市', '士林區']],
 '804': [['0', '320桃園市中壢區中北路200號', '桃園市', '中壢區']],
 '805': [['0', '251301新北市淡水區英專路151號', '新北市', '淡水區']],
 '806': [['0', '111台北市士林區華岡路55號', '臺北市', '士林區']],
 '807': [['0', '407台中市西屯區文華路100號', '臺中市', '西屯區']],
 '808': [['0', '433台中市沙鹿區台灣大道七段200號', '臺中市', '沙鹿區']],
 '809': [['0', '33302桃園市龜山區文化一路259號', '桃園市', '龜山區']],
 '810': [['0', '320桃園市中壢區遠東路135號', '桃園市', '中壢區']],
 '811': [['0', '300新竹市香山區五福路二段707號', '新竹市', '香山區']],
 '812': [['0', '515006彰化縣大村鄉學府路168號', '彰化縣', '大村鄉']],
 '814': [['0', '84001高雄市大樹區學城路一段1號', '高雄市', '大樹區']],
 '815': [['0', '116台北市文山區木柵路一段17巷1號', '臺北市', '文山區']],
 '816': [['台北校區', '111005台北市士林區中山北路五段250號', '臺北市', '士林區'],
  ['桃園校區', '333桃園市龜山區德明路5號', '桃園市', '龜山區']],
 '817': [['臺北校區', '104台北市中山區大直街70號', '臺北市', '中山區'],
  ['高雄校區', '84550高雄市內門區大學路200號', '高雄市', '內門區']],
 '818': [['0', '807高雄市三民區十全一路100號', '高雄市', '三民區']],
 '819': [['0', '622嘉義縣大林鎮南華路一段55號', '嘉義縣', '大林鎮']],
 '820': [['0', '251新北市淡水區真理街32號', '新北市', '淡水區']],
 '821': [['0', '104台北市中山區中山北路三段40號1樓', '臺北市', '中山區']],
 '822': [['0', '970花蓮縣花蓮市中央路三段701號970', '花蓮縣', '花蓮市']],
 '823': [['0', '0', '臺北市', '信義區']],
 '825': [['0', '711台南市歸仁區長大路1號', '臺南市', '歸仁區']],
 '826': [['0', '0', '臺中市', '北屯區']],
 '827': [['0', '30092新竹市香山區玄奘路48號', '新竹市', '香山區']],
 '828': [['0', '413台中市霧峰區柳豐路500號', '臺中市', '霧峰區']],
 '829': [['0', '338桃園市蘆竹區開南路1號', '桃園市', '蘆竹區']],
 '830': [['0', '262307宜蘭縣礁溪鄉林尾路160號', '宜蘭縣', '礁溪鄉']],
 '831': [['0', '523彰化縣埤頭鄉文化路369號', '彰化縣', '埤頭鄉']]}

In [6]:
db = mysql.connector.connect(user='root', password='root', host='localhost', database='四技二專')
cursor = db.cursor()
sql = """SELECT t2.地區ID, t1.縣市ID, t1.行政區ID, t2.縣市名稱, t1.行政區名稱 
FROM 鄉鎮市區 as t1 LEFT JOIN 縣市 AS t2 ON t1.縣市ID = t2.縣市ID
WHERE (t2.縣市名稱 = %s OR t2.縣市名稱 = %s) AND
(t1.行政區名稱 = %s OR t1.行政區名稱 = %s) ;"""

data = []
for key in dicCampusInSch.keys():
    campusInfo = dicCampusInSch[key]
    if(checkValid(campusInfo)):
        for i in range(len(campusInfo)):
            cityAlias, zoneAlias = findAlias(campusInfo[i][2]), findAlias(campusInfo[i][3])
            cursor.execute(sql, (campusInfo[i][2], cityAlias, campusInfo[i][3], zoneAlias))
            row = cursor.fetchall()[0]
            data.append((None, campusInfo[i][0], campusInfo[i][1], key, row[0], row[1], row[2]))

In [7]:
data

[(None, '0', '106台北市大安區基隆路四段43號', '101', 1, 1, 5),
 (None, '0', '64002雲林縣斗六市大學路三段123號', '102', 2, 12, 185),
 (None, '0', '912屏東縣內埔鄉學府路1號', '103', 3, 17, 302),
 (None, '0', '10608台北市大安區忠孝東路三段1號', '104', 1, 1, 5),
 (None, '0', '632雲林縣虎尾鎮文化路64號', '107', 2, 12, 178),
 (None, '0', '880澎湖縣馬公市六合路300號', '109', 3, 18, 324),
 (None, '0', '411030台中市太平區中山路二段57號', '110', 2, 9, 116),
 (None, '0', '812高雄市小港區松和路1號', '112', 3, 16, 262),
 (None, '0', '404台中市北區三民路三段129號', '113', 2, 9, 112),
 (None, '桃園校區', '324桃園市平鎮區福龍路一段100號', '114', 1, 1, 1),
 (None, '臺北校區', '100台北市中正區濟南路一段321號', '114', 1, 1, 1),
 (None, '0', '413台中市霧峰區吉峰東路168號', '201', 2, 9, 118),
 (None, '0', '71005台南市永康區南台街1號', '202', 3, 15, 222),
 (None, '0', '710台南市永康區崑大路195號', '203', 3, 15, 222),
 (None, '0', '71710 臺南市仁德區二仁路一段60號', '204', 3, 15, 229),
 (None, '0', '824高雄市燕巢區橫山路59號', '205', 3, 16, 270),
 (None, '0', '333桃園市龜山區萬壽路一段300號', '206', 1, 4, 56),
 (None, '0', '831高雄市大寮區進學路151號', '207', 3, 16, 277),
 (None, '0', '304新竹縣新豐鄉新興路1號', '208', 1, 6, 67),
 (None, '0', '433台中市沙鹿區台灣大道六段1018號', '209', 2, 9, 130),
 (None, '0', '320桃園市中壢區健行路229號', '210', 1, 4, 49),
 (None, '0', '833高雄市鳥松區澄清路840號', '211', 3, 16, 279),
 (None, '0', '320676 桃園市中壢區萬能路1號', '212', 1, 4, 49),
 (None, '0', '500020彰化縣彰化市介壽北路1號', '213', 2, 10, 137),
 (None, '0', '243新北市泰山區工專路84號', '214', 1, 2, 34),
 (None, '0', '907屏東縣鹽埔鄉維新路20號', '216', 3, 17, 298),
 (None, '0', '251309 新北市淡水區淡金路四段499號', '217', 1, 2, 39),
 (None, '0', '408213台中市南屯區嶺東路1號', '218', 2, 9, 115),
 (None, '新竹校區', '303新竹縣湖口鄉中山路三段530號', '219', 1, 6, 66),
 (None, '臺北校區', '116台北市文山區興隆路三段56號', '219', 1, 1, 12),
 (None, '0', '40601台中市北屯區廍子路666號', '220', 2, 9, 113),
 (None, '0', '710台南市永康區中正路529號', '221', 3, 15, 222),
 (None, '0', '744台南市新市區中華路49號', '222', 3, 15, 251),
 (None, '0', '300新竹市香山區元培街306號', '223', 1, 5, 64),
 (None, '0', '231新北市新店區安忠路99號', '224', 1, 2, 23),
 (None, '0', '717台南市仁德區文華一街89號', '225', 3, 15, 229),
 (None, '0', '222新北市深坑區北深路三段152號', '226', 1, 2, 17),
 (None, '0', '114台北市內湖區環山路一段56號', '227', 1, 1, 10),
 (None, '0', '542南投縣草屯鎮中正路568號', '228', 2, 11, 165),
 (None, '台北校區', '115台北市南港區研究院路三段245號', '229', 1, 1, 11),
 (None, '新竹校區', '312新竹縣橫山鄉中華街200號', '229', 1, 6, 74),
 (None, '0', '407台中市西屯區僑光路100號', '230', 2, 9, 114),
 (None, '0', '361苗栗縣造橋鄉學府路168號', '231', 2, 8, 99),
 (None, '0', '912屏東縣內埔鄉屏光路23號', '232', 3, 17, 302),
 (None, '0', '621嘉義縣民雄鄉建國路二段117號', '233', 3, 14, 211),
 (None, '0', '412台中市大里區工業路11號', '236', 2, 9, 117),
 (None, '嘉義校區', '613016 嘉義縣朴子市嘉朴路西段2號', '237', 3, 14, 207),
 (None, '林口校區', '333桃園市龜山區文化一路261號', '237', 1, 4, 56),
 (None, '0', '307新竹縣芎林鄉大華路1號', '238', 1, 6, 70),
 (None, '0', '112台北市北投區學園路2號', '239', 1, 1, 9),
 (None, '0', '244新北市林口區粉寮路一段101號', '240', 1, 2, 35),
 (None, '0', '80793高雄市三民區民族一路900號', '241', 3, 16, 260),
 (None, '0', '970花蓮縣花蓮市建國路二段880號', '244', 4, 19, 330),
 (None, '0', '220新北市板橋區文化路一段313號', '245', 1, 2, 15),
 (None, '0', '236新北市土城區青雲路380巷1號', '246', 1, 2, 28),
 (None, '士林校區', '11174台北市士林區延平北路九段212號', '249', 1, 1, 8),
 (None, '淡水校區', '251新北市淡水區濱海路三段150號', '249', 1, 2, 39),
 (None, '0', '220新北市板橋區四川路二段58號', '250', 1, 2, 15),
 (None, '0', '971花蓮縣新城鄉樹人街1號', '403', 4, 19, 331),
 (None, '0', '320桃園市中壢區中山東路三段414號', '411', 1, 4, 49),
 (None, '0', '243新北市泰山區泰林路三段22號', '415', 1, 2, 34),
 (None, '0', '203基隆市中山區復興路336號', '417', 1, 3, 45),
 (None, '0', '700台南市中西區民族路二段78號', '502', 3, 15, 216),
 (None, '0', '116台北市文山區指南路二段64號', '701', 1, 1, 12),
 (None, '0', '300新竹市東區光復路二段101號', '702', 1, 5, 63),
 (None, '0', '10617台北市大安區羅斯福路四段1號', '703', 1, 1, 5),
 (None, '0', '106台北市大安區和平東路一段162號', '704', 1, 1, 5),
 (None, '0', '701台南市東區大學路1號', '705', 3, 15, 217),
 (None, '0', '402台中市南區興大路145號', '706', 2, 9, 110),
 (None, '0', '320桃園市中壢區中大路300號', '708', 1, 4, 49),
 (None, '0', '804高雄市鼓山區蓮海路70號', '709', 3, 16, 257),
 (None, '0', '202基隆市中正區北寧路2號', '710', 1, 3, 44),
 (None, '0', '62102嘉義縣民雄鄉大學路一段168號', '711', 3, 14, 211),
 (None, '0', '237新北市三峽區大學路151號', '715', 1, 2, 29),
 (None, '0', '600嘉義市東區學府路300號', '716', 3, 13, 196),
 (None, '0', '811高雄市楠梓區高雄大學路700號', '717', 3, 16, 261),
 (None, '0', '974花蓮縣壽豐鄉大學路二段1號', '718', 4, 19, 334),
 (None, '0', '545301南投縣埔里鎮大學路1號', '719', 2, 11, 167),
 (None, '0', '112台北市北投區學園路1號', '720', 1, 1, 9),
 (None, '0', '220新北市板橋區大觀路一段59號', '721', 1, 2, 15),
 (None, '0', '950309 臺東市大學路二段369號', '722', 4, 20, 343),
 (None, '0', '260宜蘭縣宜蘭市神農路一段1號', '723', 1, 7, 78),
 (None, '0', '36003苗栗縣苗栗市聯大1號', '724', 2, 8, 98),
 (None, '0', '72045台南市官田區大崎66號', '725', 3, 15, 232),
 (None, '0', '70005台南市中西區樹林街二段33號', '726', 3, 15, 216),
 (None, '0', '10671台北市大安區和平東路二段134號', '727', 1, 1, 5),
 (None, '0', '333桃園市龜山區文化一路250號', '731', 1, 4, 56),
 (None, '0', '892金門縣金寧鄉大學路1號綜合大樓', '732', 4, 21, 361),
 (None, '0', '404台中市北區雙十路一段16號', '733', 2, 9, 112),
 (None, '0', '100台北市中正區愛國西路1號', '734', 1, 1, 1),
 (None, '0', '407224台中市西屯區台灣大道四段1727號', '801', 2, 9, 114),
 (None, '0', '242新北市新莊區中正路510號', '802', 1, 2, 33),
 (None, '0', '111台北市士林區臨溪路70號', '803', 1, 1, 8),
 (None, '0', '320桃園市中壢區中北路200號', '804', 1, 4, 49),
 (None, '0', '251301新北市淡水區英專路151號', '805', 1, 2, 39),
 (None, '0', '111台北市士林區華岡路55號', '806', 1, 1, 8),
 (None, '0', '407台中市西屯區文華路100號', '807', 2, 9, 114),
 (None, '0', '433台中市沙鹿區台灣大道七段200號', '808', 2, 9, 130),
 (None, '0', '33302桃園市龜山區文化一路259號', '809', 1, 4, 56),
 (None, '0', '320桃園市中壢區遠東路135號', '810', 1, 4, 49),
 (None, '0', '300新竹市香山區五福路二段707號', '811', 1, 5, 64),
 (None, '0', '515006彰化縣大村鄉學府路168號', '812', 2, 10, 151),
 (None, '0', '84001高雄市大樹區學城路一段1號', '814', 3, 16, 280),
 (None, '0', '116台北市文山區木柵路一段17巷1號', '815', 1, 1, 12),
 (None, '台北校區', '111005台北市士林區中山北路五段250號', '816', 1, 1, 8),
 (None, '桃園校區', '333桃園市龜山區德明路5號', '816', 1, 4, 56),
 (None, '臺北校區', '104台北市中山區大直街70號', '817', 1, 1, 3),
 (None, '高雄校區', '84550高雄市內門區大學路200號', '817', 3, 16, 284),
 (None, '0', '807高雄市三民區十全一路100號', '818', 3, 16, 260),
 (None, '0', '622嘉義縣大林鎮南華路一段55號', '819', 3, 14, 212),
 (None, '0', '251新北市淡水區真理街32號', '820', 1, 2, 39),
 (None, '0', '104台北市中山區中山北路三段40號1樓', '821', 1, 1, 3),
 (None, '0', '970花蓮縣花蓮市中央路三段701號970', '822', 4, 19, 330),
 (None, '0', '711台南市歸仁區長大路1號', '825', 3, 15, 223),
 (None, '0', '30092新竹市香山區玄奘路48號', '827', 1, 5, 64),
 (None, '0', '413台中市霧峰區柳豐路500號', '828', 2, 9, 118),
 (None, '0', '338桃園市蘆竹區開南路1號', '829', 1, 4, 61),
 (None, '0', '262307宜蘭縣礁溪鄉林尾路160號', '830', 1, 7, 80),
 (None, '0', '523彰化縣埤頭鄉文化路369號', '831', 2, 10, 156)]

In [8]:
sql = "insert into 分校 values(%s, %s, %s, %s, %s, %s, %s);"
cursor.executemany(sql, data)
db.commit()

In [9]:
cursor.close()
db.close()