In [24]:
import pandas as pd
import mysql.connector
schoolTable = pd.DataFrame()
# div class='sXLaOe'

In [36]:
df = pd.read_excel("./文件集/112技優保送.xls")
dfTemp = df[['學校代碼' ,'學校名稱', '系科組學程名稱']]
dfTemp.columns = ['學校ID', '校名', '科系名稱']
dfTemp

     學校ID        校名                  科系名稱
0     101  國立臺灣科技大學                機電技優專班
1     101  國立臺灣科技大學                機電技優專班
2     101  國立臺灣科技大學                機電技優專班
3     102  國立雲林科技大學  跨域整合設計學士學位學程（設計技優專班）
4     102  國立雲林科技大學  智慧機器人學士學位學程（機器人技優專班）
..    ...       ...                   ...
147   712  國立高雄師範大學      工業科技教育學系能源與冷凍空調組
148   719  國立暨南國際大學                國際企業學系
149   802      輔仁大學           織品服裝學系服飾設計組
150   804      中原大學                電機工程學系
151   817      實踐大學          服裝設計學系（臺北校區）

[152 rows x 3 columns]

In [37]:
schoolTable = pd.concat([schoolTable, dfTemp], ignore_index=True)
schoolTable

      學校ID        校名              科系名稱
0      101  國立臺灣科技大學             機械工程系
1      101  國立臺灣科技大學             機械工程系
2      101  國立臺灣科技大學          材料科學與工程系
3      101  國立臺灣科技大學          材料科學與工程系
4      101  國立臺灣科技大學          材料科學與工程系
...    ...       ...               ...
4842   712  國立高雄師範大學  工業科技教育學系能源與冷凍空調組
4843   719  國立暨南國際大學            國際企業學系
4844   802      輔仁大學       織品服裝學系服飾設計組
4845   804      中原大學            電機工程學系
4846   817      實踐大學      服裝設計學系（臺北校區）

[4847 rows x 3 columns]

In [40]:
schoolTable.to_excel("./文件集/學校統整.xlsx", index=False)

In [6]:
conn = mysql.connector.connect(user='project_tester', password='password', host='localhost', database='final_project')
cursor = conn.cursor()
cursor.execute("show tables;")
for row in cursor:
    print(row)

('friends',)
('members',)
('messages',)
('profiles',)

In [ ]:
mask = df['系名'].str.find("校區") > -1
df[mask][['校名', '系名']]